html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.index.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-primary {
  text-align: center;
}

.food-image {
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.link {
  font-size: 18px;
}

.info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

.info li {
  flex-basis: 33.3333333333333%;
  text-align: center;
}

h2 {
  margin-top: 55px;
}

li {
  line-height: 1.5;
}
